@media print {
    .categoryTitle {
        break-before: avoid;
        break-inside: avoid;
    }

    .question {
        break-inside: avoid;
    }
}

#evaluation h1, h2, h3, h4, h5, h6 {
    color: black;
}