
.lateralColumn {
    background-color: $secondary;
    color: $primary;
}

.lateralColumn a, a:visited, a:active{
    color: $primary;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: $primary;
}

.lateralNavBar a, a:visited {
    font-weight: bold;
    color: $dark;
}

.lateralNavBar a .active {
    font-weight: bold;
    color: $primary;
}



.lateralNavBar .sticky-lg-top {
    top: $spacer;
}