@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    .no-print {
        display: none;
    }
}

@media print {
    .categoryTitle {
        break-after: avoid;
    }
    
    .question {
        display: block;
        break-inside: avoid;
        background-color: white;
    }

    .question .img {
        max-height: 100%;
    }

    @page {
        margin-top: 10mm;
        margin-bottom: 10mm;
        margin-left: 10mm;
        margin-right: 10mm;
    }
}